_red        = #ef4444
_orange     = #ef9a44
_yellow     = #fde047
_green      = #4ade80
_blue       = #60a5fa
_purple     = #855ee8

accent      = #6fc9e4
accent-dark = #181129

bg          = #371b34

lite        = #e9e8f5
neutral     = #959595
dark        = #1a1a1f

diffs = {
  beginner:   _purple,
  easy:       _green,
  medium:     _yellow,
  hard:       _red,
  challenge:  _blue,
  edit:       neutral,
}

tiers = {
  "1":  _green,
  "2":  #86df6d,
  "3":  #c2e05a,
  "4":  _yellow,
  "5":  #f9c946,
  "6":  #f4b245,
  "7":  _orange,
  "8":  #ef7e44,
  "9":  #ef6144,
  "10": _red,
}