@require './util/color'
@require './util/fonts'
@require './util/mixins'
@require './util/reset'
@require './components/action'
@require './components/chart'
@require './components/footer'
@require './components/header'
@require './components/hero'
@require './components/scrollbar'
@require './components/togglebar'

html
  scroll-behavior smooth
body
  background-color bg
.main
  overflow-x visible
  flex(column, nowrap, start, stretch)
  border-top 2px solid lite
h1
  head(56px)
  +tablet()
    font-size 72px
  margin-bottom 16px
h2
  head(42px)
  +tablet()
    font-size 50px
  margin-bottom 8px
h3
  head(24px)
  +tablet()
    font-size 32px
  margin-bottom 8px
.hsub
  text(22px, lite)
p, li
  text(20px)
  line-height 24px
  text-align justify
p
  margin-bottom 32px
li
  margin-bottom 8px
ul
  list-style-position inside
  margin-bottom 32px
a
  color _blue
  font-weight 700
b
  font-weight 700
i
  font-style italic
hr
  color lite
  margin-bottom 32px
  width 700px
img
  user-select none
iframe
  margin-bottom 32px
  border-radius 8px
  background-color lite

.iframe-doc
  width 90vw
  +laptop()
    width 800px

.content
  min-height calc(100dvh - 118px - 38px * 2)
  padding 24px

.center
  text-align center

.double
  flex(column, nowrap, center, center, 32px)
  laptop()
    flex-direction row
  &-section
    max-width 536px

.comment
  text(16px, lite, normal, italic)
  margin-top -8px

.link
  underline(_blue)

.external
  position relative
  width 10px
  fill _blue
  right 2px
  bottom 8px
  margin-right 4px

.entry-list
  margin-bottom 32px
  & p
    margin-bottom 8px

.spacer
  margin-bottom 48px